.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

kbd {
  display: block;
  font-size: 40px;
}
.key {
  border:2px solid;
  text-align: center;
  margin: 10px;
  width: 100%;
  padding: 5px .2px;
  background:rgba(0, 0, 0, 0.3);
  transition:all 0.07s;
}
.playing {
  transform: scale(1.1);
  border-color: blue;
}
