#data {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}
thead th {
  text-align: left;
}
th {
  background-color: #eee;
  font-weight: bold;
}
th,
td {
  border: 1px solid #333;
  line-height: 1.5;
  padding: 5px;
  text-align: left;
}
img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
	#data {
		text-align: left;
	}
	
	thead tr {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
	tr {
    border: 1px solid #333;
    border-bottom: 0;
  }
  tr + tr {
    margin-top: 1.5em;
  }
  tr,
  td {
		display: block;
	}
	td {
		border: none;
		border-bottom: 1px solid #333;
		padding-left: 50%;
	}
  td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
  }
}
@media (max-width: 320px) {
  td {
    padding-left: 0.75em;
  }
  td:before {
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
  }
	#data {
		text-align: left;
	}
}

